/*
File Contents:

1. Variables
2. Mixins
3. Global Styles
4. Lead Styles
5. About Styles
6. Experience Styles
7. Education Styles
8. Project Styles
9. Skills Styles
10. Contact Styles
11. Optional Section Styles
12. Media Queries
13. Awards styles
*/

/*
------------------------
----- 1. Variables -----
------------------------
*/

@font-face {
  font-family: "Overused Grotesk";
  src:
    url("../webfonts/OverusedGrotesk-VF.woff2") format("woff2 supports variations"),
    url("../webfonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
  font-weight: 300 400 500 900;
}

@font-face {
  font-family: TheSecret;
  src: url("../webfonts/TheSecret-Regular.otf");
}

// Define base and accent colors
$accent-color: #ffd000;
$base-color: #181818;
$base-color-hover: darken($base-color, 10%);
$menu-hover: #eee;
$white: #fff;

// Define background colors
$background: #f2f2f5;
$background-alt: $white;

// Define border colors
$border: #dcd9d9;

// Define text colors
//$heading: #374054;
$heading: darken($accent-color, 10%);
$text: #484b4e;
$use-filters: false;

// iOS style box shadow
$shadow: 0 20px 30px -12.125px rgba(0, 0, 0, 0.3);

/*
---------------------
----- 2. Mixins -----
---------------------
*/

@mixin transition_short($duration: 0.2s, $func: ease, $property: all) {
  transition: #{$duration} #{$func} #{$property};
}

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
  transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
    opacity: 1;
  }

  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

/*
----------------------------
----- 3. Global Styles -----
----------------------------
*/

::selection {
  background-color: lighten($accent-color, 20%);
}

.inset {
  color: $heading;
  @include transition();
}

:not(.heading).inset:hover {
  color: darken($heading, 10%);
  background-clip: text;
}

.show-mobile {
  display: none;
}

.hide-mobile {
  display: block;
}

body {
  background-color: $background;
  font: 16px "Overused Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";

  &.active {
    overflow: hidden;
    z-index: -1;
  }
}

// No JS styles
.no-js {
  #experience-timeline {
    > div {
      background: $background;
      padding: 10px;
      margin-bottom: 10px;

      h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        display: inline-block;
        margin: 0;
      }

      h4 {
        font-size: 1.2em;
        font-weight: 300;
        color: $text;
        margin: 0 0 15px 0;
      }

      p {
        color: $text;
        font-size: 0.9em;
        margin: 0;
      }
    }

    &:before,
    &:after {
      content: none;
    }
  }
}

@keyframes dropHeader {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes closeHeader {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;

  #logo {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 18px;
    left: 20px;
    z-index: 2;
    @include transition();

    &:hover {
      opacity: 0.6;
    }
  }

  #menu {
    // display: inline-block;
    // background: $background;
    color: $white;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    li {
      display: inline-block;

      a {
        display: block;
        color: $white;
        padding: 10px;
        font-size: 1em;
        @include transition_short();

        &:hover {
          cursor: pointer;
          color: $base-color-hover !important;
          text-decoration: none;
          background: $menu-hover;
          border-radius: 4px;
        }

        &:focus {
          color: $base-color;
          text-decoration: none;
        }
      }
    }
  }

  #social {
    position: absolute;
    top: 16px;
    right: 10px;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 1.25em;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      color: darken($white, 15%);
      padding-left: 10px;
      padding-right: 10px;
      @include transition_short();

      &:hover {
        color: $white;
      }
    }
  }

  &.active {
    display: block;
  }

  &.sticky {
    position: fixed;
    z-index: 999;
  }

  &.inactive {
    display: inline-block;
    animation-name: closeHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
  }
}

#menu {
  &.active {
    display: block;
  }
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: $base-color;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: $background-alt;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: $background-alt;
  font-size: 1.5em;
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
  color: $base-color;
  border-bottom: 1px solid $border;

  span {
    font-size: 0.5em;
    text-transform: uppercase;
  }

  i {
    vertical-align: middle;
  }
}

footer {
  padding: 50px 0;
}

.copyright {
  padding-top: 20px;

  p {
    margin: 0;
    color: $text;
  }
}

.top {
  text-align: center;

  span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid lighten($text, 25%);
    text-align: center;
  }

  i {
    color: $text;
  }
}

.btn-rounded-black {
  color: $text;
  padding: 5px 15px;
  border: 1px solid $text;
  border-radius: 15px;
  margin-right: 15px;
  @include transition();

  &:hover {
    color: $white;
    background: $text;
    text-decoration: none;
  }
}

.heading {
  position: relative;
  display: inline-block;
  font: 7em TheSecret, Arial, sans-serif;
  width: 100%;
  color: $heading;
}

.background-alt {
  background: $background;
}

/*
--------------------------
----- 4. Lead Styles -----
--------------------------
*/

#lead {
  position: relative;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100);
  min-height: 500px;
  max-height: 1080px;
  background: url(../images/lead-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 15px;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    line-height: inherit;
  }

  .main-title {
    margin: 0;
    color: $white;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    line-height: 0.9em;
    display: block;
  }
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($base-color-hover, 0.7);
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 45px;
  color: $white;

  span {
    cursor: pointer;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*
---------------------------
----- 5. About Styles -----
---------------------------
*/

#about {
  padding: 75px 15px 45px 15px;

  p {
    color: $text;
    margin: 0;
  }

  .profile-image img {
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 296px;
    height: 296px;
  }

  .about-row {
    background-color: $white;
    border-radius: 15px;
  }

  .about-desc-container {
    display: table;
    height: 296px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .about-desc {
    display: table-cell;
    vertical-align: middle;

    a {
      color: darken($accent-color, 10%);
    }
  }
}

/*
--------------------------------
----- 6. Experience Styles -----
--------------------------------
*/

#experience {
  padding: 50px 15px;
  text-align: center;
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: $base-color;
    z-index: 0;
  }

  &:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    background: $base-color;
    background: linear-gradient(to bottom, $base-color, rgba($base-color, 0));
    top: 100%;
    left: 303px;
  }
}

.vtimeline-content {
  margin-left: 350px;
  background: $background-alt;
  padding: 20px;
  border-radius: 15px;
  text-align: left;

  h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: $heading;
    display: inline-block;
    margin: 0;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: $text;
    margin: 0 0 15px 0;
  }

  p {
    color: lighten($text, 20%);
    font-size: 0.9em;
    margin: 0;
  }
}

.vtimeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: $white;
  width: 50px;
  height: 50px;
  background: $base-color;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 1.6em;
  }
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: $text;
}

/*
-------------------------------
----- 7. Education Styles -----
-------------------------------
*/

#education {
  padding: 50px 15px 20px 15px;
  text-align: center;
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: $background-alt;
  text-align: left;
  border-radius: 15px;

  h3 {
    font-size: 1.5em;
    font-weight: 500;
    float: left;
    margin: 0;
    color: $heading;
  }

  span {
    color: $text;
    float: right;
  }

  h4 {
    font-size: 1.2em;
    color: $text;
    clear: both;
    font-weight: 300;
    margin: 0 0 15px 0;
  }

  p,
  ul {
    margin: 0;
    color: lighten($text, 20%);
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }
}

.education-button-container {
  margin-top: 15px;
}

/*
-------------------------------
----- 8. Project Styles -----
-------------------------------
*/

#projects {
  padding: 50px 15px;
  text-align: center;

  .card {
    height: 100%;
    border: none;
    border-radius: 15px;
  }

  .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .list-group {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .list-group-item {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .card-link {
    font-weight: 500;
    color: $heading;
    @include transition();
  }

  .card-link:hover {
    color: darken($heading, 10%);
  }
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: $background;
  border-radius: 15px;
}

/*
-------------------------------
----- 9. Skills Styles -----
-------------------------------
*/

#skills {
  padding: 50px 15px;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }

  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: $heading;
    background: darken($background-alt, 5%);
    list-style: none;
    cursor: default;
    font-size: 1.2em;
  }
}

/*
-------------------------------
----- 10. Contact Styles -----
-------------------------------
*/

#contact {
  padding: 50px 15px;
  background: $base-color;
  text-align: center;

  h2 {
    margin: 0 0 15px 0;
    color: $white;
    font-weight: 500;
  }
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: darken($base-color, 15%);
    color: $white;
    @include transition();
    @include placeholder {
      color: $white;
    }

    &:focus {
      outline: none;
      background: darken($base-color, 25%);
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    background: $white;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: $base-color;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    @include transition();

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

/*
---------------------------------------
----- 11. Optional Section Styles -----
---------------------------------------
*/

.optional-section {
  padding: 50px 15px;
  text-align: center;
  border-top: 1px solid $border;

  h2 {
    color: $heading;
  }
}

.optional-section-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  background: $white;
  text-align: left;

  h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: $heading;
  }

  h4 {
    color: $text;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  p,
  ul {
    margin: 0 0 15px 0;
    color: $text;
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }
}

/*
-----------------------------
----- 12. Media Queries -----
-----------------------------
*/

// Collapse timeline
@media only screen and (max-width: 750px) {
  #experience-timeline {
    &:before,
    &:after {
      left: 23px;
    }
  }

  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }

  .vtimeline-icon {
    margin-left: 0;
  }

  .vtimeline-content {
    margin-left: 70px;
  }
}

// Medium Devices
@media only screen and (max-width: 992px) {
  #lead {
    padding: 100px 15px;
  }

  #lead-content {
    position: relative;

    h1 {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
      line-height: inherit;
    }

    .main-title {
      font-size: 3em;
    }
  }
}

// Small Devices
@media only screen and (max-width: 767px) {
  #about {
    padding: 75px 15px 45px 15px;

    h2 {
      color: $heading;
    }

    p {
      color: $text;
      margin: 0;
      text-align: left;
      font-size: 1em;
    }

    .profile-image img {
      position: relative;
      z-index: 1;
      border-radius: 0;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      width: 100%;
      height: auto;
    }

    .about-row {
      background-color: $white;
      border-radius: 15px;
    }

    .about-desc-container {
      padding: 0;
      padding-top: 15px;
      display: block;
      height: auto;
      text-align: center;
    }

    .about-desc {
      padding: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .btn-rounded-black {
    position: static;
    color: $text;
    padding: 5px 15px;
    border: 1px solid $text;
    border-radius: 15px;
    @include transition();

    &:hover {
      color: $white;
      background: $text;
      text-decoration: none;
    }
  }

  .social {
    position: static;
    text-align: center;
    display: inherit;
    font-size: 1em;

    ul {
      margin: 5px 0 0 0;
      padding: 0;
    }

    li {
      display: inline-block;
      font-size: 1.25em;
      list-style: none;
    }

    a {
      display: block;
      color: $text;
      padding: 10px;

      &:hover {
        color: $base-color;
      }
    }
  }

  header {
    position: fixed;
    left: 0;
    z-index: 999;
    bottom: 0;
    height: 100%;
    display: none;

    #logo {
      display: none;
    }

    #menu {
      display: inline-block;
      background: $background-alt;
      padding: 0;

      li {
        display: block;
      }
    }

    a {
      color: $base-color !important;
    }

    #social {
      top: 14px;
      left: 10px;
      right: auto;
    }
  }

  #mobile-menu-open,
  #mobile-menu-close {
    display: block;
  }

  #menu {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    width: 100%;

    li {
      display: block;
      padding: 10px;
      border-bottom: 1px solid $border;
    }
  }

  #lead-content {
    h1 {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
      line-height: inherit;
    }

    .main-title {
      font-size: 2em;
    }

    a {
      padding: 10px 20px;
    }
  }

  .education-block {
    h3,
    span {
      float: none;
    }
  }

  footer {
    text-align: center;
  }
}

// Extra Small Devices
@media only screen and (max-width: 480px) {
  #lead-content {
    h1 {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
      line-height: inherit;
    }

    .main-title {
      font-size: 3em;
    }

    a {
      font-size: 0.9em;
      padding: 5px 10px;
    }
  }
}

/*
-------------------------------
----- 13. Awards Styles -----
-------------------------------
*/

#award {
  padding: 50px 15px 20px 15px;
  text-align: center;
}

.award-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: $background-alt;
  text-align: left;
  border-radius: 15px;

  h3 {
    font-size: 1.5em;
    font-weight: 500;
    float: left;
    margin: 0;
    color: $heading;
  }

  span {
    color: $text;
    float: right;
  }

  h4 {
    font-size: 1.2em;
    color: $text;
    clear: both;
    font-weight: 300;
    margin: 0 0 15px 0;
  }

  p,
  ul {
    margin: 0;
    color: lighten($text, 20%);
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }
}

.award-button-container {
  margin-top: 15px;
}
